*{
  margin:0;
  padding:0;
  border:0;
}

html{
  width:100%;
  height:100%;
}

body{
  background-image: url('../img/img5.jpg');
  background-size: cover;
  widows:100%;
  height:100%;
}

#bg-shadow{
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#header{
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 34pt;
  color: #0aafaa;
  /*color: #660000;*/
}


#header > #brand{
  display: inline-block;
  color:#e99e22;
}

div#notready{
  color: #fefefe;
  font-size: 28px;
  position: absolute;
  top:40%;
  margin-left: 20px;
}

a.github_redirect{
  text-decoration: none;
}

a.github_redirect>txt{
  color: #69ded6;
  padding:1px 5px 5px 5px;
  border-radius: 5px;
  border: 1px solid #e99e22;
}

a.github_redirect>txt:hover{
  background-color: #0f234234;
  color:#383838;
}

@media screen and (min-width: 480px){
  #header{
    font-size: 60px;
  }
  div#notready{
    font-size: 26pt;
  }
}